*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #e7eff2;
}
.main-wrapper{
    max-width: 1080px;
    /* outline: 2px solid black; */
    margin:0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-row-gap:20px;
    grid-column-gap: 10px;
      
}
.main-wrapper > div{
    outline: 1px solid gray;
    
}
.logo{
    grid-column: 1/6;
    margin-left: 30px;
}
.fa-brain{
    padding: 20px;
    margin: 10px;
}
.preorder-button{
    grid-column: 6/12;
    text-align: right;
    padding: 10px;
}
.preorder-button > button{
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    border-color: gray;
    background-color: gray;
}
.box1{
    grid-column: 1/6;
    grid-row: span 1;
    /* width: 500px; */
    padding: 40px;
    margin-left: 50px;
    overflow-wrap:break-word;
}
.box1 > button{
    background-color:#ee6916 ;
    padding: 5px;
    color:white;
    border-radius: 4px;
}
.box2{
    grid-column: 8/12;
    /* width:410px; */
    margin-left: -10px;

}
.box2 > img{
    width: 100%;
    border-radius: 5px;
}
.box3{
    grid-column: 1/4;
    grid-row: span 4;
    background-color: #ee6916;
    /* width: 300px; */
    margin-left: 30px;
    border-radius: 10px;
    
}
.box3 > img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 10px;
    
}
.box4{
    grid-column: 4/8;
    grid-row: span 4;
    /* width:400px; */
    margin-left: 20px;
}
.box4 > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.box5{
    grid-column: 8/12;
    grid-row:span 4;
    text-transform: uppercase;
    
    padding: 5px;
    margin-left:20px;
}
.box6{
    grid-column:1/4;
    /* width:250px; */
    /* margin-left:30px; */
}
.box7{
    grid-column: 4/7;
    /* width:250px; */
    /* margin-left:30px; */
}
.box8{
    grid-column: 7/10;
    /* width:250px; */
    /* margin-left: -60px; */
}
.box9{
    grid-column:10/13;
    /* width:250px; */
    /* margin-left: -160px; */
}